@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
	.t-border {
		@apply border-gray-400 dark:border-gray-600 hover:border-gray-600 dark:hover:border-gray-400;
	}
	.t-card {
		@apply rounded border t-border px-4 py-2;
	}
	.t-bg {
		@apply bg-white dark:bg-gray-800;
	}
}

body {
	font-family: 'Roboto Slab', serif;
	@apply t-bg text-gray-800 dark:text-gray-400;
}

nav > :not(:first-child)::before {
	content: '>';
	@apply mx-4;
}

strong {
	@apply text-yellow-600;
}

a {
	@apply text-blue-400 hover:text-blue-600 underline cursor-pointer;
}

button {
	@apply bg-transparent text-blue-400 hover:text-blue-600 underline;
}

select {
	@apply bg-transparent t-border border-b;
}

input:not([type]) {
	@apply block w-full bg-transparent outline-none px-2 t-border border-b;
}

input[type=checkbox] {
	@apply inline-block relative w-4 h-4 cursor-pointer appearance-none;
	&::before {
		content: '';
		@apply absolute w-full h-full t-border border;
	}
	&:checked::after {
		content: '';
		@apply absolute w-3 h-2 border-l-2 border-b-2 border-gray-500 -rotate-45 translate-x-[2px] translate-y-[2px];
	}
}

textarea {
	@apply block w-full bg-transparent outline-none px-2 t-border border;
}


label {
	@apply block;
	> * {
		@apply align-middle;
	}
	> span {
		@apply text-xs;
	}
	> input:not([type]), > textarea {
		@apply mt-1;
	}
}

code {
	@apply px-2 py-1 rounded bg-yellow-200 dark:bg-cyan-900;
}
